style.css*
```
body {
	background-color: gold;
	font-family: Arial, sans-serif;
}

form {
	width: 500px;
	margin: 50px auto;
	padding: 20px;
	background-color: #14A7FF;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: gold;
}

img {
	display: block;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="date"] {
	width: 60%;
	height: 10px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ccc;
}

input[type="radio"] {
	margin-right: 10px;
}

input[type="button"], input[type="reset"] {
	width: 100px;
	height: 40px;
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #3e8e41;
}

.marquee {
	color: #FF44;
	font-size: 14px;
	margin-top: 20px;
}
```